## .NET Core
*.user
*.suo
*.userprefs
.vs/
bin/
obj/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET
wwwroot/uploads/
!wwwroot/uploads/.gitkeep

## EF Core
*.db
*.db-shm
*.db-wal

## Sensitive
appsettings.Production.json
*secrets*

## OS
.DS_Store
Thumbs.db

## Logs
*.log
logs/
